.sider-style {
  text-align: center;
  line-height: 120px;
  color: #000;
  background-color: #f5f5f5 !important;
  border-bottom-left-radius: 30px;
  min-width: 250px !important;
}

.headerStyle {
  text-align: center;
  color: "#fff";
  height: 54;
  padding-inline: 50;
  line-height: 64px;
  background-color: transparent;
}

.contentStyle {
  color: #000;
  background-color: #fff;
  border-bottom-right-radius: 4%;
}

.footerStyle {
  color: #fff;
  background-color: #c7497f;
}
